/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2017, 8:21:12 AM
    Author     : Saskia
*/

#treatbutton {
    height: 20px;
    width: 80px;
    border-color:#ecccff;
    background-color:#f6e6ff;
    border-style:solid;
    border-radius:2px;
    cursor: pointer; 
    cursor: hand;
    display: table;
}
#clicktext {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: table-cell;
    vertical-align: middle;
}

#head {
    background-color:teal;
    color:white;
    width:100%;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-size: 20px;
    height:45px;
}
#headtext {
    height:20px;
    padding: 10px 10px 10px 10px;
    margin: 0px;
}

#nonheader {
    background-color:lightcyan;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 0px 0px 0px;
    height:100%;
}

body {
    margin:0px;
    padding:0cm;
    height:100%;
    min-height: 100%;
}

#doggotime {

}

p {
    font-family: "Arial";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin:0px;
}

html {
    height: 100%;
    margin:0px;
    min-height: 100%;
}