/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2017, 8:21:12 AM
    Author     : Saskia
*/

#treatbutton {
    height: 20px;
    width: 80px;
    border-color:#ecccff;
    background-color:#f6e6ff;
    border-style:solid;
    border-radius:2px;
    cursor: pointer; 
    cursor: hand;
    display: table;
}
#clicktext {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: table-cell;
    vertical-align: middle;
}

p {
    font-family: "Arial";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}