/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/04/2017, 8:21:12 AM
    Author     : Saskia
*/

div {
    height: 50px;
    width: 120px;
    border-color:#6495ED;
    background-color:#BCD2EE;
    border-style:solid;
    border-radius:5px;
    cursor: pointer; 
    cursor: hand;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}